
  
  .learning-option-button {
    padding: 0.5rem;
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid green;
    margin: 3px;
    color: #ffffff;
  }

  .adall{
    color: blue;
  }


