/* 商品底板 */
.commodityCard {
  position: relative;
  /* width: 200px; */
  height: 250px;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.25s ease-in;
  overflow: hidden;
}

.commodityCard h6 {
  display: inline-block;
  white-space: nowrap;
  width: fit-content; /* 設為內容寬度 */
  position: relative; /* 因為使用 translateX，所以需要設為 relative */
  overflow: hidden; /* 隱藏超出容器的內容 */
}

.commodityCard:hover h6:before {
  content: attr(data-text); /* 使用伪元素存儲原始文字内容 */
  position: absolute;
  top: 0;
  left: 100%; /* 初始位置在容器的右側 */
  white-space: nowrap;
  animation: slideOut 15s steps(100) infinite; /* 使用 steps() 函數實現一致速度 */
}
.erbook{
  color: #ffffff;
  text-align: center;
}
.imgBoxSize1 {
  text-align: center;
}


.commodityCard::before {
  content: ' ';
  position: absolute;
  background: #fff;
  width: 80px;
  height: 260px;
  top: -5px;
  left: -200px;
  opacity: 0.2;
  transition: all 0.5s ease-out;
  transform: skewX(315deg);
}

.commodityCard:hover {
  background-color: #17151c;
  box-shadow:
    4px 0 0 #222,
    -4px 0 0 #333,
    0 -4px 0 #333,
    0 4px 0 #222;
  color: white;
  z-index: 3;
  transform: scale(1.07);
}

.commodityCard:hover:before {
  width: 80px;
  left: 300px;
}

/* 收藏按鈕位置 */
.commodityLove {
  position: absolute;
  top: -45%;
  right: 5%;
}

/* 熱銷收藏按鈕位置 */
.hotCommodityLove {
  position: absolute;
  top: -15%;
  right: 10%;
}

.commodityCard a {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-block: 0.5rem;
}

.commodityImg {
  width: 145px;
}

.commodityCard h6 {
  display: inline-block;
  white-space: nowrap;
  width: fit-content; /* 設為內容寬度 */
  animation: returnToCenter 0.01s forwards paused;
}

.commodityCard:hover h6 {
  animation: slideOut 10s linear infinite;
}

@keyframes slideOut {
  0%,
  100% {
    transform: translateX(0%);
  }
  49.99% {
    transform: translateX(-100%); /* 從左測滑出 */
  }
  50% {
    transform: translateX(100%); /* 從右測滑入 */
  }
}

@keyframes returnToCenter {
  0%,
  100% {
    transform: translateX(0%);
  }
}
/* 二手書商品底板 */
.usedbookCard {
  max-height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.usedbookCard a {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 1rem;
}

.usedbookCard img {
  width: 100%;
  max-width: 220px;
}

/* ----------------------- */
/* 價格區塊 */
.priceArea {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 0 1rem 0 0.5rem;
  margin-block: 0.5rem;
}

/* 商品加入購物車按鈕 */
.addButton {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 6%;
  background: var(--main-yellow);
  color: var(--black);
  font-weight: bold;
  box-shadow:
    0 0 0 1px var(--main-yellow),
    0 5px 0 -1px var(--main-yellow),
    4px 0 0 -1px var(--main-yellow),
    0 0 0 1px var(--main-yellow),
    0 -5px 0 -1px var(--main-yellow),
    -4px 0 0 -1px var(--main-yellow),
    0 0 0 3px var(--black),
    0 6px 0 0 var(--black),
    0 -6px 0 0 var(--black),
    5px 0 0 0 var(--black),
    -5px 0 0 0 var(--black);
}

/* ----------------------- */
/* 熱銷榜商品底板 */
.hotlistCard {
  position: relative;
  min-width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  margin-inline: 1rem;
  background-color: var(--main-brightpurple);
  transition: transform 0.5s ease;
}

.hotlistCard:hover {
  background-color: var(--main-colorpurple);
  transform: scale(1.05);
}

.hotlistCard a {
  display: flex;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  top: -10%;
  right: 0;
}

.hotlistCard img {
  width: 300px;
}

/* 銷售量底板 */
.SaleBlock {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 130px;
  border: 3px solid var(--black);
  border-radius: 5px;
  color: var(--black);
}

.SaleBlock::before,
.SaleBlock::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: black;
}

.SaleBlock::before {
  bottom: 10%;
  left: 5%;
}

.SaleBlock::after {
  top: 10%;
  right: 5%;
}

/* rwd版面 */
@media screen and (max-width: 1200px) {
  .hotlistCard {
    min-width: 250px;
    height: 400px;
  }

  .hotlistCard img {
    width: 250px;
  }

  .hotlistCard p {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 限制顯示的行數 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
