/* 商品底板 */
.commodityCard {
  position: relative;
  /* width: 200px; */
  height: 250px;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.25s ease-in;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.commodityCard::before {
  content: ' ';
  position: absolute;
  background: #fff;
  width: 80px;
  height: 260px;
  top: -5px;
  left: -200px;
  opacity: 0.2;
  transition: all 0.5s ease-out;
  transform: skewX(315deg);
}

.commodityCard:hover {
  background-color: #17151c;
  box-shadow:
    4px 0 0 #222,
    -4px 0 0 #333,
    0 -4px 0 #333,
    0 4px 0 #222;
  color: white;
  z-index: 3;
  transform: scale(1.07);
}

.commodityCard:hover:before {
  width: 80px;
  left: 300px;
}

/* 收藏按鈕位置 */
.commodityLove {
  position: absolute;
  top: -45%;
  right: 10%;
}

/* 熱銷收藏按鈕位置 */
.hotCommodityLove {
  position: absolute;
  bottom: 38%;
  right: 10%;
}

.commodityCard a {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-block: 0.5rem;
}

.commodityImg {
  max-width: 185px;
}

.commodityCard h6 {
  display: inline-block;
  white-space: nowrap;
  width: fit-content; /* 設為內容寬度 */
  animation: returnToCenter 0.01s forwards paused;
}

.commodityCard:hover h6 {
  animation: slideOut 10s linear infinite;
}

@keyframes slideOut {
  0%,
  100% {
    transform: translateX(0%);
  }
  49.99% {
    transform: translateX(-100%); /* 從左測滑出 */
  }
  50% {
    transform: translateX(100%); /* 從右測滑入 */
  }
}

@keyframes returnToCenter {
  0%,
  100% {
    transform: translateX(0%);
  }
}

/* 二手書商品底板 */
.usedbookCard {
  max-height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.usedbookCard a {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 1rem;
}

.usedbookCard img {
  width: 100%;
  max-width: 220px;
}

/* ----------------------- */
/* 價格區塊 */
.priceArea {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 0 1rem 0 0.5rem;
  margin-block: 0.5rem;
  color: white;
}

/* 商品加入購物車按鈕 */
.addButton {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 6%;
  background: var(--main-yellow);
  color: var(--black);
  font-weight: bold;
  box-shadow:
    0 0 0 1px var(--main-yellow),
    0 5px 0 -1px var(--main-yellow),
    4px 0 0 -1px var(--main-yellow),
    0 0 0 1px var(--main-yellow),
    0 -5px 0 -1px var(--main-yellow),
    -4px 0 0 -1px var(--main-yellow),
    0 0 0 3px var(--black),
    0 6px 0 0 var(--black),
    0 -6px 0 0 var(--black),
    5px 0 0 0 var(--black),
    -5px 0 0 0 var(--black);
}

/* ----------------------- */
/* 熱銷榜商品底板 */
.hotlistCard {
  position: relative;
  max-width: 300px;
  height: 395px;
  display: flex;
  flex-direction: column;
  margin-inline: 1rem;
  background-color: var(--main-brightpurple);
  transition: transform 0.5s ease;
}

.hotlistCard:hover {
  background-color: var(--main-colorpurple);
  transform: scale(1.05);
}

.rankBrand {
  position: absolute;
  top: -11%;
  left: -5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  width: 50px;
  height: 48px;
  z-index: 50;
}

.crown {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.rankBrand span {
  background-color: var(--black);
  color: var(--white);
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: flex-end;
  font-weight: bold;
}

.hotlistCard a {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.hotlistCard .hotlistBookImg {
  width: 100%;
  max-width: 280px;
  height: 100%;
  max-height: 280px;
  position: absolute;
  top: -5%;
  /* right: 0; */
}

.hotlistCard h5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* 指定最大显示行数 */
  height: 100%;
  max-height: 2.5em; /* 指定最大高度，根据行高来设置 */
}

/* 銷售量底板 */
.SaleBlock {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 130px;
  border: 3px solid var(--black);
  border-radius: 8px;
  background-color: #e52e2e;
  color: var(--white);
}

.SaleBlock::before,
.SaleBlock::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: black;
}

.SaleBlock::before {
  bottom: 10%;
  left: 5%;
}

.SaleBlock::after {
  top: 10%;
  right: 5%;
}
/* .abcd > * {
  margin-top: -160px;
} */

/* rwd版面 */
@media screen and (max-width: 1200px) {
  .hotlistCard {
    min-width: 250px;
    height: 375px;
  }

  .hotlistCard .hotlistBookImg {
    height: 250px;
    width: 250px;
  }

  .commodityLove {
    position: absolute;
    bottom: 42%;
    right: 10%;
  }

  .hotlistCard p {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 限制顯示的行數 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
