#app {
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiperSlide {
  background: #fff;
  min-width: 600px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  border: 4px solid black;
}

.swiperSlide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
