/* 點數背景 */
.point_bg {
  padding: 1rem;
  height: 600px;
}

/* 點數框 */
.point-label-color {
  width: 100px;
  margin-inline: 10px;
  background: var(--main-colorpurple);
  border-radius: 20px;
  color: var(--white);
  text-align: center;
}

/* 點數框容器 */
.point-header {
  height: 80px;
}

.instructions_use {
  background-color: var(--main-orange);
  height: auto;
  width: 100%;
  border-radius: 10px;
  margin-top: 1rem;
  color: white;
  box-shadow: inset -5px -5px 0 #00000034;
}

@media screen and (max-width: 1360px) {
  .point_bg {
    height: auto;
  }
}
